# Environments
venv/
.venv/
env/

# Databases
*.db
*.sqlite3

# Data and Secret Files
Dataset/
StarSchemaDB/
.env

# Python Cache
__pycache__/
*.pyc

# IDEs / macOS
.vscode/
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Generated Outputs (Images & CSVs)
*.png
*.csv
